.grid{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    gap: 30px;
}
.card{
    border:  2px red groove;
    padding: 20px;
    text-align: center;
}
.card h1{
    margin: 0px;
    font-size: large;
}

.card h2{
    background-color: royalblue;
    color: white;
    border: 2px black dashed;
}